html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
h1 {
    padding-left: 20px;
    font-family: sans;
}
.main-container {
    position: relative;
    z-index: 0;
    overflow-x: scroll;
    display: inline-block;
    width: 100%;
}
.container {
    width: 2200px;
    text-align: center;
}
.schemat {
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    cursor: pointer;
}
.img-schemat {
    height: 300px;
}
#overlay {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    text-align: center;
}
.visible {
    display: block !important;
}
.pages {
    display: none;
    padding-top: 20px;
}
.page {
    max-width: 80%;
    margin-bottom: 16px;
}

.man-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1)
}
#man-buttons-2.man-buttons {
    right: auto;
    left: 10px;
}
.man-button {
    position: absolute;
    font-size: 32px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.man-button::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}
.man-button-up {
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.man-button-right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.man-button-left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.man-button-down {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.man-person-container {
    position: relative;
}
.man-person {
    position: absolute;
    background-image: url('assets/man/man1.png');
    width: 206px;
    height: 327px;
    background-position: center center;
    background-repeat: none;
}
.man-person.man2-person {
    width: 171px;
    height: 315px;
    background-image: url('assets/man2/man2.png');
}

